{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% include "header.html.twig" %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.first_name) }}
        {{ form_row(registrationForm.last_name) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.birthdate) }}
        {{ form_row(registrationForm.phone) }}
        {{ form_row(registrationForm.plainPassword) }}

        <button type="submit" class="btn">S'inscrire</button>
    {{ form_end(registrationForm) }}
    {% include "footer.html.twig" %}
{% endblock %}
