{% extends 'base.html.twig' %}

{% block body %}

<li><a href="{{ path('app_home') }}"> Accueil </a></li>
<li><a href="{{ path('users') }}"> Utilisateurs </a></li>
<li><a href="{{ path('app_complaint') }}"> Plaintes </a></li>


{% if app.user %}
<li><a href="{{ path('app_logout') }}"> Déconnexion </a></li>
{% else %}
<li><a href="{{ path('app_login') }}"> Connexion </a></li>
{% endif %}

{% endblock %}