{% block header %}
<!--****************************************
 Fichier : index.html.twig
 Auteur : Manuel Turcotte
 Fonctionnalité : 
 Date : 2022-05-23
 Vérification :
 Date Nom Approuvé
 =========================================================
 Historique de modifications :
 =========================================================
****************************************-->
{% endblock %}

{% extends 'base.html.twig' %}

{% block title %}Gestion des plaintes{% endblock %}

{% block body %}
    {% if not app.user or app.user.role.id != 1 %}
        <script>window.location.href = "/login";</script>
    {% endif %}

    <!--===================== CSS =====================-->
    <style>
        table
        {
            border-collapse: collapse;
        }

        button 
        {
            margin: 5px 0px;
        }

        a
        {
            text-decoration: none;
        }

        tr 
        {
            border: solid thin;
        }

        th 
        {
            height: 30pt;
            background-color: #e34958;
            color: white;
        }

        th, td
        {
            text-align: center;
        }

        table tr:not([hidden]):nth-child(odd) td
        {
            background-color: #d6d6d6;
        }

        img 
        {
            object-fit: cover;
            border-radius: 50%;
            height: 50pt;
            width: 50pt;
            border: solid 2px;
        }

        .arrow 
        {
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
        }

        .up 
        {
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
        }

        .down 
        {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }

        .flex-row 
        {
            display: flex;
            flex-direction: row;
        }

        .flex-column 
        {
            display: flex;
            flex-direction: column;
        }

        #searchFilter {
            width: 100pt;
        }

        .clickable
        {
            display: block;
            width: 100%;
            height: 100%;
        }

    </style>

    <!--===================== HTML =====================-->
    {% include 'header.html.twig' %}
    <h1>Liste des plaintes</h1>
    <button id="filterButton" class="btn btn-light">Filtrer <i class="arrow down" id="filterArrow"></i></button>
    
    <div id="filters" hidden>
        <div class="flex-row">
            <div class="flex-column">
            <b>Statut</b>
                {% for state in status %}
                    <div>
                        <input class="statusFilter" type="checkbox" id="statusFilter{{ state.id }}" name="statusFilter{{ state.id }}" value="{{ state.name }}"/>
                        <label for="statusFilter{{ state.id }}">{{ state.name }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
        <button id="applyButton" class="btn btn-primary">Appliquer</button>
    </div>
    
    <table class="displayTable col-12">
        <tr>               
            <th class="col-3 text-center"> Description </th>
            <th class="col-3 text-center"> Utilisateur </th>
            <th class="col-3 text-center"> Status </th>
            <th class="col-3 text-center"> Date </th>
        </tr>

        {% for complaint in complaints %}
            <tr class="tableRow" onclick="viewDetail({{ complaint.id }})">  
                <td> {{ complaint.description }}</td>     
                <td> {{ complaint.user.firstName }} {{ complaint.user.lastName }}</td>                
                <td class="status">{{ complaint.status.name }}</td>
                <td> {{ complaint.complaintDate|date("m/d/Y") }}</td>
            </tr>
        {% endfor %}
    </table>

    {% include 'footer.html.twig' %}

    <!--===================== JavaScript =====================-->
    <script async defer>
        function viewDetail(id)
        {
            window.location.href = '/complaint/' + id;
        };

        let filterButton = document.getElementById('filterButton');
        filterButton.addEventListener('click', function()
        {
            let filterDiv = document.getElementById('filters');
            let arrow = document.getElementById('filterArrow');

            arrow.classList.toggle('up');
            arrow.classList.toggle('down');
            filterDiv.toggleAttribute('hidden');
        });

        let applyButton = document.getElementById('applyButton');
        applyButton.addEventListener('click', function()
        {
            let tableRows = document.getElementsByClassName('tableRow');
            let statusFilters = document.getElementsByClassName('statusFilter');
            
            let  statusArray = [];

            for (let sf of statusFilters) 
            {
                if (sf.checked)
                    statusArray.push(sf.value);
            }
            // Apply filters
            for (let tr of tableRows)
            {
                tr.removeAttribute('hidden');
                if (statusArray.length > 0) 
                {
                    let status = tr.querySelector('.status').innerHTML;
                    if (!statusArray.includes(status))
                        tr.setAttribute('hidden', '');
                }
            }
        });

        
    </script>
{% endblock %}